<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Artistas Vagalume</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

	<form th:action="@{/buscar}" th:object="${artista}" method="post">
	
		<h1>Procurar Artista</h1>
		
		<label>Entre com o nome de uma Banda ou Artista Musical:</label></br> 
		<input type="text" th:field="${artista.cantor}"><br/>
		
		<label>Entre com o nome da música:</label></br> 
		<input type="text" th:field="${artista.musica}"><br/>
		
		<input type="submit" th:value="'Pesquisar'"/>
	</form>

</body>
</html>