<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Artistas Vagalume</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<h2 th:text="${'Cantor: '} + ${cantor.name}"></h2>
	
	<a th:href="${cantor.url}">Acesse o link do artista no site Vagalume aqui</a><br>
	<a th:href="@{/}">Buscar outro Cantor</a><br>
	<a th:href="@{/salvarMusica}">Salvar Música</a>
	
	<div>
		<h3 th:text="${'Música: '} + ${musica.name}"></h3>
		<div th:utext="${musica.text}"></div>
	</div>
</body>
</html>